<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id='Circ' class='CircleArea' autowire="byName">
	</bean>
	<bean id='pointA' class='Point'>
	<property name='r' value='10'></property>	
	</bean>
	<bean id='pointB' class='Point'>
	<property name='r' value='20'></property>
	</bean>
	<bean id='pointC' class='Point'>
	<property name='r' value='30'></property>
	</bean>

</beans>